.vscode/settings.json
assets/featherlight-lightbox/
assets/lity-lightbox/
assets/swiper-lightbox/css/swipebox.min.css
assets/swiper-lightbox/img/icons.png
assets/swiper-lightbox/img/icons.svg
assets/swiper-lightbox/img/loader.gif
assets/swiper-lightbox/js/jquery.swipebox.min.js

