/*add your CSS for frontend looks functionality*/
.list-grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.list-grid-wrapper>.list-item-wrapper {
    margin: 10px
}

.screensize_btns_wrapper {
    display: flex;
    flex-direction: column
}

.screensize_btns_wrapper .screensize_toggle {
    margin-bottom: 14px
}

.screensize_btns_wrapper {
    position: absolute;
    top: 90px;
    right: 22px;
    color: #fff;
    font-size: 29px;
    cursor: pointer
}

.copy-link {
    position: absolute;
    top: 220px;
    right: 31px;
    color: #fff;
    font-size: 24px
}
span.copy-tooltip{
    width: max-content;
}