/*divine elementor iframe widgets style*/

.list-grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.list-grid-wrapper>.list-item-wrapper {
    /* margin: 10px */
}

.screensize_btns_wrapper {
    display: flex;
    flex-direction: column;
}

.screensize_btns_wrapper .screensize_toggle {
    margin-bottom: 14px;
}

.screensize_btns_wrapper {
    position: absolute;
    top: 90px;
    right: 22px;
    color: #fff;
    font-size: 29px;
    cursor: pointer;
}

.copy-link {
    color: #fff;
    font-size: 24px;
}

/*copy link btn*/
.copy-tooltip {
    background-color: black;
    color: #fff;
    font-family: "Assistant",
        Sans-serif;
    font-size: 14px;
    font-weight: 400;
    bottom: 50px;
    border: 2px solid;
    border-radius: 8px;
    padding: 4px 7px 6px;
    margin-right: 13px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    width: max-content;
}

.copy-tooltip:before {
    content: '';
    right: 17px;
    left: auto;
    bottom: 7px;
    transform: translateY(50%);
    border-left: 7px solid #ffffff;
    border-right: 7px solid #de191900;
    border-bottom: 7px solid #f000;
    border-top: 7px solid #00000000;
    position: absolute;
}

.show-tip .copy-tooltip {
    visibility: visible;
    opacity: 1;
}

/* iframe contact form */
.iframecontact_wrapper {
    position: absolute;
    bottom: 15px;
    z-index: 9999999;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
}

.tobi .iframecontact input {
    background-color: #fff;
    color: #000 !important;
}

.elementor-message.elementor-message-success {
    color: #fff;
    display: none;
}

.iframecontact:not(.active) {
    pointer-events: none;
    filter: opacity(0.5);
}

.iframecontact_title * {
    color: #fff !important;
    text-align: center;
}

.iframecontact button {
    background-color: #dd0f81 !important;
}

/* #iframe contact form */
.list-item-wrapper {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
    /* width: 20%; */
    /* margin-bottom: 35px !important; */
}

.list-item-title>a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-top: 2px solid #80808045;
}

.title-btn-layout-br>a{
  flex-direction: column;
  align-items: unset;
}

.list-item-wrapper .lightbox.tobi-zoom {
    padding-bottom: 300px !important;
    overflow-y: hidden !important;
    height: 400px;
}

.list-item-wrapper img {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    transition: filter ease 0.3s;
}

.list-item-wrapper .tobi-zoom__icon {
    display: none;
}

.button.sale-btn {
    border-radius: 8px;
}

/*prev btn*/
.demoBtn {
    opacity: 0;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 999;
    background: #f7f6fb !important;
    text-shadow: none !important;
    font-weight: 400 !important;
    color: #3a3840 !important;
    padding: 0.5em 1em !important;
    border-radius: 8px;
    cursor: pointer;
}

.tobi__slider__slide__content[data-type="iframe"] iframe {
    height: 80vh !important;
}

.tobi__slider {
    top: -50px !important;
}

.tobi__slider__slide__content[data-type="iframe"] {
    max-height: 80vh !important;
}

.list-item-wrapper.active .demoBtn {
    opacity: 1;
    visibility: visible;
}

.list-item-wrapper {
    position: relative;
}

.list-item-wrapper.active img {
    filter: brightness(0.7);
}

.sale-btn {
    border-radius: 8px;
}

@media only screen and (max-width: 500px) {
    button.tobi__prev, button.tobi__next {
    bottom: 10px !important;
    margin: 0 15px 0 15px !important;
    top: auto !important;
    font-size:0.4rem !important;
    background-color: #fff !important;
    opacity: 1 !important;
    border-radius: 50% !important;
    }
    button.tobi__prev svg, button.tobi__next svg{
        stroke: #000 !important;
    }
    .screensize_btns_wrapper {
        flex-direction: row;
        width:150px !important;
        justify-content: space-between;
    }
    .tobi__slider__slide__content[data-type="iframe"] {
        max-width: 100% !important;
        width: 100% !important;
        height: 100% !important;
        max-height: 100% !important;
        padding-top: 108px !important;
    }
    .tobi__slider__slide__content[data-type="iframe"] iframe {
        width: 100vw !important;
        height: 87vh !important;
    }
    .screensize_btns_wrapper {
        top: 15px;
        right: 50%;
        transform: translateX(50%);
    }
    .tobi>button.tobi__close {
        top: -5px !important;
    }
    .tobi__counter {
        top: 20px !important;
    }
    .tobi>button:disabled, .tobi>button[aria-hidden="true"]{
        display: block !important;
    }
    .screensize_btns_wrapper {
        width: 200px !important;
    }
    span.copy-tooltip {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(40px);
        margin: 0;
        font-size: 16px;
    }
    .copy-tooltip:before {
        display: none;
    }
}